.swiper-pagination-bullet {
  background-color: #065366 !important;
}

.swiper-pagination-bullet-active {
  background-color: #0fcbeb !important;
}

.swiper-container {
  padding: 0.125rem 0 !important;
}
